In [1]:
import requests
#import pandas as pd
import dotenv as dotenv
import os


# Para generar una barra de proceso en los bucles for
# -----------------------------------------------------------------------
from tqdm import tqdm

# Para trabajar con ficheros
# -----------------------------------------------------------------------
import os
import pandas as pd
import re

* Iniciamos con la Demanda eléctrica

In [18]:
# Vamos a definir las rutas de las carpetas de donde sacamos los archivos y donde queremos almacenar los resutlados después de toda la transformación
ruta_origen = 'C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos_demanda_electrica'
df = pd.DataFrame() #crear df para concatenar
for archivo in (os.listdir(ruta_origen)):
    # ruta_archivo = os.path.join(ruta_origen, archivo)
    df_variante = pd.read_csv(f'C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos_demanda_electrica\\{archivo}', index_col=0)
    #creo uno dentro 
    #leer el csv{archivo}
    nombre_limpio = archivo.split('.csv') #split.csv
    nombre_junto_ano = nombre_limpio[0].split('_')
    nombre = nombre_junto_ano[0]
    fecha = nombre_junto_ano[1]
    df_variante['CCAA'] = nombre
    df_variante['Año'] = fecha
    df = pd.concat([df, df_variante])
    #saconombre
    #sacoaño
    #creo columnas nuevas, 
    #creo data frame

In [19]:
df.info() #conozco mejor mis datos, ubico que no tengo nulos

<class 'pandas.core.frame.DataFrame'>
Index: 684 entries, 0 to 11
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   value       684 non-null    float64
 1   percentage  684 non-null    int64
 2   datetime    684 non-null    object
 3   COD-CCAA    684 non-null    int64
 4   CCAA        684 non-null    object
 5   Año         684 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 37.4+ KB

In [20]:
df.head()

,value,percentage,datetime,COD-CCAA,CCAA,Año
0,3668893.328,1,2019-01-01T00:00:00.000+01:00,4,Andalucía,2019
1,3152278.091,1,2019-02-01T00:00:00.000+01:00,4,Andalucía,2019
2,3216356.360,1,2019-03-01T00:00:00.000+01:00,4,Andalucía,2019
3,3029639.973,1,2019-04-01T00:00:00.000+02:00,4,Andalucía,2019
4,3154123.467,1,2019-05-01T00:00:00.000+02:00,4,Andalucía,2019

In [21]:
# Convierte la columna a formato datetime
df['datetime'] = pd.to_datetime(df['datetime'], utc= False)
# no tuvo efecto pero sí pude aplicarle acciones de datetime

C:\Users\DELL\AppData\Local\Temp\ipykernel_27616\404347714.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['datetime'] = pd.to_datetime(df['datetime'], utc= False)

In [22]:
df['datetime'] = df['datetime'].apply(lambda x: pd.to_datetime(x).strftime('%Y-%m')) # doy el formato que quiero

df['Mes'] = df['datetime'].apply(lambda x: pd.to_datetime(x).month) #saco el mes para una nueva columna

In [23]:
df.head()

         value  percentage datetime  COD-CCAA       CCAA   Año  Mes
0  3668893.328           1  2019-01         4  Andalucía  2019    1
1  3152278.091           1  2019-02         4  Andalucía  2019    2
2  3216356.360           1  2019-03         4  Andalucía  2019    3
3  3029639.973           1  2019-04         4  Andalucía  2019    4
4  3154123.467           1  2019-05         4  Andalucía  2019    5

In [24]:
df = df.drop(columns='datetime')

In [34]:
df.head()

         value  percentage  COD-CCAA       CCAA   Año  Mes
0  3668893.328           1         4  Andalucía  2019    1
1  3152278.091           1         4  Andalucía  2019    2
2  3216356.360           1         4  Andalucía  2019    3
3  3029639.973           1         4  Andalucía  2019    4
4  3154123.467           1         4  Andalucía  2019    5

In [42]:
df['Año'] = df['Año'].astype(int)

Generación Estructura Renovables

In [25]:
# Vamos a definir las rutas de las carpetas de donde sacamos los archivos y donde queremos almacenar los resutlados después de toda la transformación
ruta_origen_gen = 'C:\\Users\\DELL\\Git\\Laboratorio_ETL\\datos_generacion_estructura'
df_generacion = pd.DataFrame() #crear df para concatenar
for archivo in (os.listdir(ruta_origen_gen)):
    ruta_archivo = os.path.join(ruta_origen_gen, archivo)
    df_variante_gen = pd.read_csv(ruta_archivo, index_col=0)
    #creo uno dentro 
    #leer el csv{archivo}
    nombre_limpio_gen = archivo.split('.csv') #split.csv
    # print(nombre_limpio_gen)
    nombre_junto_ano_gen = nombre_limpio_gen[0].split('_')
    nombre_gen = nombre_junto_ano_gen[0]
    # print(nombre_gen)
    fecha_gen = nombre_junto_ano_gen[1]
    # print(fecha_gen)
    df_variante_gen['CCAA'] = nombre_gen
    df_variante_gen['Año'] = fecha_gen
    df_generacion = pd.concat([df_generacion, df_variante_gen])

In [36]:
df_generacion.head()

       value  percentage        type  COD-CCAA       CCAA   Año  Mes
0  25288.605    0.029517  Hidráulica         4  Andalucía  2019    1
1  33933.350    0.030779  Hidráulica         4  Andalucía  2019    2
2  35913.000    0.029645  Hidráulica         4  Andalucía  2019    3
3  44050.848    0.041340  Hidráulica         4  Andalucía  2019    4
4  88535.452    0.068497  Hidráulica         4  Andalucía  2019    5

value a mwh

In [27]:
df_generacion['Año'].unique()

array(['2019', '2020', '2021'], dtype=object)

In [28]:
df_generacion['datetime'] = df_generacion['datetime'].apply(lambda x: pd.to_datetime(x).strftime('%Y-%m')) #modifico al formato que quiero

In [29]:
df_generacion['Mes'] = df_generacion['datetime'].apply(lambda x: pd.to_datetime(x).month) #creo la columna años

In [30]:
df_generacion.head()

       value  percentage datetime        type  COD-CCAA       CCAA   Año  Mes
0  25288.605    0.029517  2019-01  Hidráulica         4  Andalucía  2019    1
1  33933.350    0.030779  2019-02  Hidráulica         4  Andalucía  2019    2
2  35913.000    0.029645  2019-03  Hidráulica         4  Andalucía  2019    3
3  44050.848    0.041340  2019-04  Hidráulica         4  Andalucía  2019    4
4  88535.452    0.068497  2019-05  Hidráulica         4  Andalucía  2019    5

In [31]:
df_generacion = df_generacion.drop(columns='datetime')

In [32]:
df_generacion.info() #confirmo que no tengo nulos

<class 'pandas.core.frame.DataFrame'>
Index: 3557 entries, 0 to 11
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   value       3557 non-null   float64
 1   percentage  3557 non-null   float64
 2   type        3557 non-null   object
 3   COD-CCAA    3557 non-null   int64
 4   CCAA        3557 non-null   object
 5   Año         3557 non-null   object
 6   Mes         3557 non-null   int64
dtypes: float64(2), int64(2), object(3)
memory usage: 222.3+ KB

In [37]:
df_generacion.duplicated().sum() # no tengo duplicados

np.int64(0)

In [33]:
df_generacion[(df_generacion['CCAA'] == 'Andalucía') & (df_generacion['Año'] == '2019') & (df_generacion['Mes'] == 12)]

,value,percentage,type,COD-CCAA,CCAA,Año,Mes
11,33252.448,0.033001,Hidráulica,4,Andalucía,2019,12
11,684672.055,0.679492,Eólica,4,Andalucía,2019,12
11,120605.521,0.119693,Solar fotovoltaica,4,Andalucía,2019,12
11,38142.147,0.037854,Solar térmica,4,Andalucía,2019,12
11,130950.924,0.129960,Otras renovables,4,Andalucía,2019,12
11,1007623.095,1.000000,Generación renovable,4,Andalucía,2019,12

In [ ]:
total =

In [38]:
df_generacion.dtypes

value         float64
percentage    float64
type           object
COD-CCAA        int64
CCAA           object
Año            object
Mes             int64
dtype: object

In [40]:
df_generacion['Año'] = df_generacion['Año'].astype(int)

In [43]:
df_generacion.describe()

              value   percentage     COD-CCAA          Año          Mes
count  3.557000e+03  3557.000000  3557.000000  3557.000000  3557.000000
mean   1.855370e+05     0.364633  1246.396964  2020.000562     6.505201
std    3.581289e+05     0.373216  3042.813710     0.816726     3.452683
min    1.900000e-01     0.000002     4.000000  2019.000000     1.000000
25%    7.193698e+03     0.035674     8.000000  2019.000000     4.000000
50%    3.069304e+04     0.206367    13.000000  2020.000000     7.000000
75%    1.786868e+05     0.653753    20.000000  2021.000000    10.000000
max    3.102351e+06     1.000000  8745.000000  2021.000000    12.000000

In [44]:
df_generacion = df_generacion.rename(columns={"value": "Energía (MWh)"})